*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #E5E5CB;
    
}

/* button{
    font-weight: 500;
} */

.mainheader{
    background-color: #1A120B;
    color: #E5E5CB;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    font-size: 1.6rem;
    font-weight: 600;
}

.mainheader span{
    border: 2px solid #D5CEA3;
    padding: .5rem;
    border-radius: 4px;
    cursor: pointer;
}

header{
    background-color: #3C2A21;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

header .text{
    color: #E5E5CB;
    /* width: 300px; */
    /* margin-right: 20px; */
    font-weight: 600
}

header .left{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
}

.priority-picker{
    display: flex;
    /* flex-direction: column; */
    /* width: 300px; */
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: .7rem;
}

.disp-prop{
    display: flex;
    /* flex-direction: column; */
    /* width: 300px; */
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: .7rem;
}

header .pbox{
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    cursor: pointer;
    /* margin: 10px; */
    border-radius: 100%;
    overflow: hidden;
}
.low{
    background-color: #367E18;   
}

.mid{
    background-color: #FFC93C;
}

.high{
    background-color: #820000;
}

input{
    font-size: .9rem;
    padding: .5rem .6rem;
    outline: none;
    border: none;
    border-radius: .2rem;
    background-color: #D5CEA3;
    color: #1A120B;
    margin-right: 1rem;
}

.btn.reset{
    font-size: .9rem;
    padding: .3rem .4rem;
    transition: .2s;
}

.btn.reset:hover{
    background-color: #1A120B;
    color: #D5CEA3;

}

header .right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    /* width: 400px; */
}

header .right > *{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #D5CEA3;
}
header .right > div{
    border: 1px solid #D5CEA3;
    height: 100%;
    width: 80px;
    cursor: pointer;
}

main{
    
}

.modal{
    height: 60vh;
    width: 40vw;
    background-color: green;
    position: absolute;
    left: calc((100vw - 40vw)/2);
    top: calc((100vh - 40vh)/2);
    border-radius: 5px;
    overflow: hidden;
    display: none;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.577);
}

.textarea{
    height: 100%;
    outline: none;
    border: none;
    width: 75%;
    background-color: #D5CEA3;
    font-size: 2rem;
    padding: 10px;
    resize: none;
}

.priorityselcont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    background-color: #3C2A21;
}

.priorityBorder{
    border: 1px solid #d5cea3d8;
    box-shadow: 0px 0px 7px #d5cea3;
}

.prioritysel{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    /* background-color: aqua; */
}

.buttonCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: .6rem .2rem;
    margin: .2rem;
    width: 4rem;
    color: #1A120B;
    background-color: #D5CEA3;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
}
.allTickets{
    display: flex;
    padding: 1.3rem;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content:flex-start
}
.ticket-holder{
    height: 15rem;
    width: 18.4rem;
    border-radius: .4rem;
    overflow: hidden;
}
.priority-color{
    height: 1rem;
    cursor: pointer;
}
.id{
    height: 1.5rem;
    padding: .3rem;
    background-color: #D5CEA3;
    font-size: .8rem;
    font-weight: 500;
}
.text-area{
    background-color: #D5CEA3;
    height: calc(100% - 4.5rem);
    padding: .5rem;
    outline: none;
}
.btn-cont{
    background-color: #D5CEA3;
    display: flex;
    justify-content: flex-end;
    height: 2rem;
    gap: .3rem;
    padding: .3rem;
}
.btn-cont button{
    padding: .1rem .3rem;
    border: none;
    background-color: #E5E5CB;
    color: #1A120B;
    border-radius: .2rem;
    cursor: pointer;
    transition: .2s;
}
.btn-cont button:hover{
    background-color: #3C2A21;
    color: #D5CEA3;

}

@media screen and (max-width:769px) {
    .modal{
        width: 65vw;
        height: 65vh;
        left: calc((100vw - 65vw)/2);
        top: calc((100vh - 40vh)/2);    
    }
    .allTickets{
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
    .modal{
        flex-direction: column;
        width: 85vw;
        height: 65vh;
        left: calc((100vw - 85vw)/2);
        top: calc((100vh - 40vh)/2);    
    }
    .textarea{
        width: 100%;
        height: 75%;
        font: 1.5rem;
    }
    .priorityselcont{
        flex-direction: row;
        width: 100%;
        height: 25%;
    }
    .prioritysel{
        width: 4rem;
        height: 4rem;
    }
    .disp-prop{
        display: flex;
        flex-direction: column;
        height: 70px;
    }
    header .pbox{
        height: 2rem;
        width: 2rem;
        min-width: 2rem;
        min-height: 2rem;
    }
    .text{
        white-space: nowrap;
        font-size: .8rem;

    }
    .allTickets{
        justify-content: center;
    }
    .btn.reset {
        font-size: .7rem;
        padding: 4px 1px;
        margin: 0px;
        margin-top: 8px;

    }
    .inpHolder{
        width: 170px;
    }
    input{
        font-size: .7rem;
        padding: 0.3rem 0.4rem;
        margin: 0;  
    }
    header .left{
        gap: 2rem;
    }
    header .right{
        flex-direction: column;
    }
    header .right > div{
        width: 60px;
    }
    header .right > *{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:425px) {
    .modal{
        flex-direction: column;
        width: 85vw;
        height: 60vh;
        left: calc((100vw - 85vw)/2);
        top: calc((100vh - 35vh)/2);    
    }
    .textarea{
        width: 100%;
        height: 75%;
        font-size: 1.5rem;
    }
    .priorityselcont{
        flex-direction: row;
        width: 100%;
        height: 25%;
        margin-right: 4px;
    }
    .prioritysel{
        width: 3rem;
        height: 3rem;
    }
    .priority-picker{
        gap: .4rem;
    }
    .disp-prop{
        display: flex;
        flex-direction: column;
        height: 70px;
        width: 90px;
    }
    header .pbox{
        height: 2rem;
        width: 2rem;
        min-width: 2rem;
        min-height: 2rem;
    }
    .text{
        white-space: nowrap;
        font-size: .8rem;

    }
    .allTickets{
        justify-content: center;
    }
    .btn.reset {
        font-size: .7rem;
        padding: 4px 1px;
        margin: 0px;
        margin-top: 8px;

    }
    .inpHolder{
        width: 120px;
    }
    input{
        font-size: .7rem;
        padding: 0.3rem 0.4rem;
        margin: 0;  
        width: 120px;
    }
    header .left{
        gap: 1rem;
    }
    header .right{
        flex-direction: column;
    }
    header .right > div{
        width: 60px;
    }
    header .right > *{
        font-size: 1.5rem;
    }
}



